name: Trigger auto deployment for container-app-kss54g3vcpqv6

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ appspaces-deployment ]
    paths:
    - '//**'
    - '.github/workflows/container-app-kss54g3vcpqv6-AutoDeployTrigger-222ce00c-5917-4b3e-8daa-39b56475dc6a.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CONTAINERAPPKSS54G3VCPQV6_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONTAINERAPPKSS54G3VCPQV6_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONTAINERAPPKSS54G3VCPQV6_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: 
          registryUsername: ${{ secrets.CONTAINERAPPKSS54G3VCPQV6_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONTAINERAPPKSS54G3VCPQV6_REGISTRY_PASSWORD }}
          containerAppName: container-app-kss54g3vcpqv6
          resourceGroup: serverlesschatlangchainjsa018
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


